asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==4.2.3
django-bootstrap-icons==0.8.7
django-tables2==2.7.0
docopt==0.6.2
idna==3.6
packaging==23.2
pipreqs==0.4.13
plotly==5.18.0
requests==2.31.0
sqlparse==0.4.4
tenacity==8.2.3
typing_extensions==4.9.0
urllib3==1.26.6
yarg==0.1.9
